{% extends "OurProfile/layout.html" %}
{%load static%}
{% block title %}
<title>Create Post</title>
{% endblock title %}
{% block content %}
<form method="post" >
    {% csrf_token %}
    <small class="hi">hi</small>
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}