{% load static %}
    <div class="nav-wrapper">
            <div class="dots-wrapper">
                <a href="{% url 'home' %}"><div id="dot-1" class="browser-dot"></div></a>

                <a href="{% url 'posts' %}"><div id="dot-2" class="browser-dot"></div></a>

                <a href="#"><div id="dot-2" class="browser-dot"></div></a>
            </div>
        <ul id="navigation">
            <li>
            {% if  request.user.is_authenticated %}
                {{user}}
                |<a href="{% url 'logout' %}">logout</a>
            {% else %}
                <a href="{% url 'login' %}">login</a>
                |<a href="{% url 'createuser' %}">register?</a>
            {% endif %}
            <div class="selector">
                <div id="select">
                    <p>...</p>
                </div>
                    <ul >
                        <li>change password</li>
                        <li>my profile</li>
                    </ul>
            </div>
            
            </li>
        </ul>
    </div>