{% extends "OurProfile/layout.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block title %}
<title>post</title>
{% endblock title %}
{% block content %}
<div style="display: flex;align-content: center;text-align: center;justify-content:space-between;padding: 5px;"> 
    <div style="border: solid 0.5px;" >
        <img class="thumbnail" src="{{ post.images.url }}">
        {% if request.user == post.customer %}
            <a href="{% url 'updatePost' post.id %}">update</a>
            <a href="{% url 'deletePost' post.id %}">delete</a>
            <br>
            <small>#cate:</small>
            <br>
            {% for categories in post.categories.all %}
                    <small style="border: solid 1px;border-radius: 2px;margin-right: 5px;">{{categories}}</small>
            {% endfor %}
        {% else %}
            <small>#categories:</small>
            <br>
            {% for categories in post.categories.all %}
                    <small style="border: solid 1px;border-radius: 2px;margin-right: 5px;">{{categories}}</small>
            {% endfor %}
        {% endif %}
    </div>
    <div style="border: solid 0.5px;min-width: 500px;">
        <p>{{post.body}}</p>
    </div>
</div>
<hr>
<div class="comment-all">
    <div>
        <ul>
            <li>
                {% for comment in post.comments.all %}
                <hr>
                    <small>{{comment.customer_comment}}</small>
                    <p> {{comment.body}} - {{comment.date}}</p>
                <hr>
                {% endfor %}
            </li>
        </ul>
    </div>
    <hr>
    <div>
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ comments|crispy}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}